body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 16px;
}

.link {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 24px;
}

.writeup {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.heading {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.para {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.signup {
  background: #3882f6;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 700;
}

.image-placeholder {
  background-color: #6d747d;
  color: white;
  text-align: center;
  width: 500px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

.info-heading {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.box {
  width: 100px;
  height: 100px;
  border: solid 3px #3882f6;
  border-radius: 16px;
}

.subtext {
  text-align: center;
  max-width: 150px;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  padding: 64px 24px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  margin: 0;
}

.quote-owner {
  align-self: flex-end;
  font-weight: 700;
}

.call {
  background-color: #3882f6;
  max-width: 900px;
  margin: 64px auto;
  border-radius: 8px;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
}

.call-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.action {
  color: #f9faf8;
  font-weight: 600;
  margin: 0;
}

.request {
  color: #f9faf8;
  font-size: 12px;
  font-weight: 200;
  margin: 0;
}

.call .signup {
  border: solid 2px white;
}

.footer {
  background-color: #1f2937;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: 0 auto;
}

.copyright {
  color: #e5e7eb;
  font-size: 12px;
}
